* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #81438c;
  --background-opacity: #81438c2f;
}

body {
  font-family: "Jura", sans-serif;
}

.header {
  position: relative;
  background: url(./assets/img/header.jpg);
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 0 2rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: var(--background-opacity);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 4;
}

.navbar-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
  color: var(--primary-color);
}

.navbar-links {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-link a {
  padding: 0.2rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(129, 67, 140, 0.5);
  cursor: pointer;
}
.navbar-link a span {
  color: #fff;
  font-size: 0.8rem;
}

.navbar-link i {
  font-size: 1.6rem;
  margin-right: 0.4rem;
}

.navbar-link:not(:last-child) {
  margin-right: 20px;
}

.linkedin a i {
  color: #0a66c2;
}
.github a i {
  color: rgb(34, 33, 33);
}

.informations {
  position: relative;
  top: 200px;
  left: 25px;
  width: 220px;
  height: 50px;
  border-radius: 0 4px 4px 0;
  background-color: rgba(129, 67, 140, 0.2);
  /* border-left: 4px solid rgba(129, 67, 140, 0.8); */
  animation: info 0.6s alternate-reverse infinite;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 3;
}

@keyframes info {
  from {
    border-left: 5px solid rgba(129, 67, 140, 0.2);
  }
  to {
    border-left: 5px solid rgba(129, 67, 140, 0.8);
  }
}

.developer {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  animation: frontend 1s alternate-reverse infinite;
}

@keyframes frontend {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(4px);
  }
}

.location {
  position: absolute;
  top: 25px;
  left: 10px;
  color: var(--primary-color);
  font-weight: 600;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.content {
  position: relative;
  padding: 1rem;
  background-color: rgb(40, 40, 40);
  height: 200vh;
}
.profile {
  margin: 0 auto;
  width: clamp(0%, 90%, 700px);
  /* width: 60%; */
   position: relative;
  padding: 1rem;
  color: #fff;
  border-radius: 4px;
  /* width: 200px; */
  border: 1px solid var(--primary-color);
  z-index: 5;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.content-name {
  margin-top: 40px;
  font-weight: 500;
}

.content-bio {
  margin-top: 10px;
  font-size: 0.8rem;
}

.profile .img {
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9b9b9;

  padding: 0.2rem;
  border-radius: 5px;
}

.profile .img img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
 
}

.icons-dance {
  position: absolute;
  top: -20px;
  z-index: 1;
  width: 25px;
}
.nuxtt {
  left: 10%;
  animation: icons 20s infinite;
}
.nuxt {
  left: 55%;
  animation: icons 14s infinite;
}
.vscodee {
  left: 45%;
  animation: icons 24s infinite;
}
.vscode {
  left: 70%;
  animation: icons 16s infinite;
}
.githubb {
  left: 15%;
  animation: icons 28s infinite;
}
.githubbb {
  left: 75%;
  animation: icons 12s infinite;
}
.gitt {
  left: 20%;
  animation: icons 32s infinite;
}
.git {
  left: 85%;
  animation: icons 35s infinite;
}
.tailwindd {
  left: 40%;
  animation: icons 33s infinite;
}
.tailwind {
  left: 80%;
  animation: icons 31s infinite;
}
.postman {
  left: 30%;
  animation: icons 12s infinite;
}
.postmann {
  left: 50%;
  animation: icons 27s infinite;
}
.vuee {
  left: 35%;
  animation: icons 18s infinite;
}
.vue {
  left: 65%;
  animation: icons 33s infinite;
}
.mongodbb {
  left: 25%;
  animation: mongodb 40s infinite;
}
.mongodb {
  left: 60%;
  animation: mongodb 30s linear infinite;
}
@keyframes mongodb {
  0% {
    transform: translateY(190vh) rotate(120deg) scale(1);
  }
  25% {
    transform: translateY(20vh) rotate(-45deg) scale(1.2) translateX(-200px);
  }
  50% {
    transform: translateY(60vh) rotate(120deg) scale(1.4) translateX(10px);
  }
  75% {
    transform: translateY(5vh) rotate(60deg) scale(1.2) translateX(0px);
  }
  100% {
    transform: translateY(-10vh) rotate(60deg) scale(1.2) translateX(0px);
  }
}

@keyframes icons {
  from {
    transform: translateY(194vh);
  }
  to {
    transform: translateY(-40px);
  }
}
.personal-info {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 4px;
}
.personal-info ul {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  z-index: 4;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: #fff;
  font-size: 0.8rem;
  min-height: 180px;
}

.identity li,
.skills li,
.backend-skills li,
.experience li,
.resume li {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
  height: 25px;
  /* background-color: #0a66c2; */
}

.developer-id,
.frontend-skill,
.title-backend, .experience-title,
.download-cv {
  padding: 0.5rem;
  position: absolute;
  top: -20px;
  left: 15px;
  border-radius: 4px;
  background-color: rgba(232, 205, 255, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.developer-id span,
.frontend-skill span,
.title-backend span,
.experience-title span,
.download-cv span {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.7rem;
}
/* .frontend-developer {background-color: #0a66c2;} */
.frontend-developer img {
  width: 15px;
  margin: 0 6px 0 3px;
  /* background-color: antiquewhite; */
}
.birthday {
  position: relative;
  padding-left: 1.5rem;
  /* background-color: #b9b9b9; */
}

.birthday img {
  position: absolute;
  top: -15px;
  left: 0px;
  width: 15px;
  animation: baloon 4s alternate-reverse infinite;
}
@keyframes baloon {
  from {
    transform: rotate(-20deg) scale(0.8);
  }
  to {
    transform: rotate(-50deg) scale(0.7);
  }
}

.from-tehran img {
  width: 20px;
  margin-right: 4px;
}

.mail img {
  margin: 0 6px 0 2px;
  width: 16px;
}

.number img {
  width: 20px;
  margin-right: 4px;
}

.level {
  background-color: var(--primary-color);
  padding: 3px 5px;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 0.7rem;
  font-weight: 500;
}

.responsive-skill img {
  margin-left: 3px;
  width: 12px;
}
.tailwind-skill img {
  margin-left: 3px;
  width: 20px;
}

.vue-skill img {
  margin-left: 3px;

  width: 15px;
}
.nuxt-skill {
  transform: scale(1.5);
}

.js-skill img {
  margin-left: 5px;
  width: 14px;
}

.upgrade {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: #fff;
  animation: upgrade 2s infinite alternate-reverse;
}
@keyframes upgrade {
  from {
    transform: scale(1);
    opacity: 0.2;
  }
  to {
    transform: scale(1.1);
    opacity: 1;
  }
}

.spyer {position: relative;}
.spyer .click {
  position: absolute;
left: 87px;
}
.spyer .click {
  animation: showclick 2s alternate-reverse infinite;
}
.spyer .before-click {
  animation: hideclick 2s  alternate-reverse infinite;
}
.tadavom {position: relative;}
.tadavom .click {
  position: absolute;
left: 100px;
}
.tadavom .click {
  animation: showclick 2s alternate-reverse infinite;
}
.tadavom .before-click {
  animation: hideclick 2s  alternate-reverse infinite;
}

@keyframes showclick {
  0% {
    z-index: 4;
    /* display: none; */
    
  }
  100% {
    z-index: 0;
   
    
  }
}

@keyframes hideclick {
  0% {
    z-index: 0;
   
  
  }
  100% {
    z-index: 4;
    
    
  }
}

.tadavom a {
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.3rem;
  border-radius: 4px;
  margin-left: 20px;
  width: 75px;
  text-align: center;
}
.spyer img,
.tadavom img {
  background-color: var(--primary-color);
  padding: 0.2rem;
  border-radius: 4px;
  margin-right: 4px;
  width:25px;
  margin-right: 5px;
}
.spyer a {
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.3rem;
  border-radius: 4px;
  margin-left: 20px;
  width: 50px;
  text-align: center;
}
.resume {
  /* background-color: #81438c; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.persian-cv span {
  margin-right: 20px;
}
.persian-cv a img {
  width: 35px;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.global-cv span {
  margin-right: 17px;
}
.global-cv a img {
  width: 35px;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.global-cv a img:hover,
.persian-cv a img:hover {
background-color: #0a66c2;
}

@media (max-width: 500px) {
  .navbar-link:not(:last-child) {
    margin-right: 5px;
  }
  .navbar-links a {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
  }

  .navbar-link a {
    margin: 0;
    padding: 0.1rem 0.4rem;
  }
  .navbar-link a span {
    display: none;
  }

  .navbar-link a i {
    font-size: 1.4rem;
    margin: 0;
  }
}

@media (max-width: 300px) {
  .navbar {
    padding: 0 0.5rem;
  }
  .navbar-links {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
  }

  .navbar-link a {
    margin: 0;
    padding: 0.1rem 0.4rem;
  }
  .navbar-link a span {
    margin: 0;
    display: none;
  }
  .navbar-link a i {
    font-size: 1.4rem;
    margin: 0;
  }
}
