/* assets/css/main.css */
:root {
    --primary-dark-color: #0d1b2a;
    --second-dark-color: #1B263B;
    --primary-color: #E6B66C;
    --primary-opacity-color: #E6B66C4D;
    --light-color: #ffffff;
  }
  

  :root {
    --dark-background-color: var(--primary-dark-color);
    --light-text-color: var(--light-color);
    --mute-text-color: var(--second-dark-color);
    --footer-linear-background-color: linear-gradient(180deg, #0D1B2A 2.05%, #01080F 100%);
     
  }