/* assets/css/main.css */
:root {
    --primary-dark-color: #0d1b2a;
    --second-sark-color: #1B263B;
    --primary-color: #E6B66C;
    --primary-opacity-color: #E6B66C4D;
    --light-color: #ffffff; 
  }
  

  :root {
    --dark-background-color: var(--primary-dark-color);
    --light-text-color: var(--light-color);
    --mute-text-color: var(--second-sark-color);
     
  }